.cellPt3{
    border-radius: 15px;
    width: 100%;
    min-height: 400px;
    padding: 10px;
    text-align: center;
    background-color: var(--BL4);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;

    & h3{
        font-size: 25px;
        color: var(--B1);
    }

    &:hover{
        box-shadow: 5px 6px 12px rgba(0, 0, 0, 0.3);
    }

    & .WrapperImgPt3{
        aspect-ratio: 1 / 1;
        height: 300px;
        overflow: hidden;
        border-radius: 100%;

        & img {
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-position-x: center;
            background-position-y: center;
        }

        @media (max-width: 1100px) {
            height: 90%;
        }

    }

    
}