.parte1{
  position: relative;
  height: 85vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;

  @media (max-width: 1100px) {
    justify-content: center;
  }

  & .imgParte1{
    background-attachment: fixed;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  & .contentParte1{
    position: absolute;
    margin: 100px;
    width: 50%;
    display: grid;
    gap: 50px;
    justify-items: center;  
    padding: 50px;
    background-color: var(--BL4-T);
    border-radius: 15px;
    backdrop-filter: blur(5px);

    @media (max-width: 1100px) {
      margin: 0;
      padding: 5px;
      text-align: center;
      
      .btnSaiba{
        width: 80%;
        height: 50px;
      }
    }
  
    & img{
      max-width: 75%;
    }
  }
}

/* PARTE 2 */

.parte2{
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  & h1{
    margin-bottom: 85px;
  }

  .sliderWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & .slider-cell{
      display: grid;
      align-items: center;
      justify-content: center;
      justify-items: center;
      text-align: center;
      background-color: var(--BL3);
      border-radius: 15px;
      min-height: 550px;
      margin: 0 15px;
      padding: 15px;

      & img{
        height: 50%;
      }

      & h2{
        color: var(--BL2);
        font-weight: 600;
      }

      & p{
        color: var(--BL2);
        text-align: left;
      }
    }
  }
}

// PARTE 3

.parte3{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  & .wrapperCellsPt3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;

    @media (max-width: 1000px) {
      grid-template-columns: 1fr 1fr;
      width: 100%;
      padding: 5px;
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      width: 100%;
      padding: 5px;
    }
  }
}


// PARTE MAP

.homeMap{
  display: grid;
  justify-content: center;
}