.wrapperImgSlider{
    height: 80vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    img{
        height:100%;
    }
}