.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;

  & .footPt1 {
    background: linear-gradient(135deg, #25283e 0%, #2b4852 100%);
    padding: 25px;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
    align-items:start;
    justify-items: center;
    width: 100%;

    @media (max-width: 1100px) {
      grid-template-columns: 1fr;
      padding: 0 10vw;
      justify-items: baseline;
      gap: 80px;
    }

    & .footIcons{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-top: 25px;
      
      & a{
        color: aliceblue !important;
        
        &:hover{
          color: var(--B1) !important;
          transition: 0.2s !important;
        }
      }
    }
    & .footPages{
      & h2{
        color: var(--BL4);
        margin-bottom: 5px;
      }

      & ul h3{
        margin: 5px 0 0 -20px;
        color: var(--BL4);

        &:hover{
          color: var(--B1);
        }
      }
    }
  }

  & .footPt2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: var(--B4);
    width: 100%;

    @media (max-width:1100px) {
      flex-direction: column;
      gap: 50px;
      text-align: center;
    }
  }

}
