.map {
  width: 70vw;
  height: 450px;
  border-radius: 15px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  aspect-ratio: none !important;
  &:hover{
    box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.4);
  }
}