.parte-1{
    position: relative;
    height: 85vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.img-parte-1{
    background-image: url(./img/3-img-parte-1.png);
    background-attachment: fixed;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.content-parte-1{
    position: absolute;
    margin: 100px;
    width: 50%;
    display: grid;
    gap: 30px;
    justify-items: center;
    padding: 50px;
    background-color: var(--BL4-T);
    border-radius: 15px;
    backdrop-filter: blur(5px);
}

.content-parte-1 h2{
    font-size: 2vw;
    color: var(--BL1);
}

.content-parte-1 h3{
    font-size: 2vw;
    color: var(--BL1);
}


/* PARTE 2 */

.parte-2{
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parte-2 h1{
    margin-bottom: 85px;
    
}

.slider-wrapper{
    width: 85%;
}

.slider-cell{
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    background-color: var(--BL3);
    border-radius: 15px;
    min-height: 550px;
    margin: 0 15px;
    padding: 15px 50px;
}

.slider-cell img{
    height: 50%;
}

.slider-cell h2{
    color: var(--BL2);
    font-weight: 600;
}

.slider-cell p{
    color: var(--BL2);
    text-align: justify;
}

/* PARTE 3 */

.parte-3{
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.parte-3 h1{
    margin-bottom: 85px;
}

.wrapper-cells-pt-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    gap: 20px;
    width: 70%;
    max-height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
}

.wrapper-cells-pt-3::-webkit-scrollbar{
    width: 5px;
}

.wrapper-cells-pt-3::-webkit-scrollbar-thumb {
    background-color: #b2b9c0;
    border-radius: 5px;
}

.wrapper-cells-pt-3::-webkit-scrollbar-track{
    background-color: #eeeeee;
    border-radius: 10px;
}

#cell-pt-3{
    border-radius: 15px;
    height: 300px;
    width: 250px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#cell-pt-3:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}


#cell-pt-3 img{
    height: 180px;
    width: 180px;
    border-radius: 100%;
    margin-bottom: 25px;
    background-size: contain;
    opacity: 0.8;
}

#cell-pt-3 h3{
    font-size: 20px;
}


.parte-4{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}