.accordionContainer {
    margin-top: 85px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .accordion {
        border-radius: 15px;
        overflow: hidden;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        
        .tab{
            width: 100%;

            input {
                position: absolute;
                opacity: 0;
                z-index: -1;
            
                &:checked ~ .tab__content{
                    max-height: 1500px;
                    overflow-y: scroll;
                    border: 2px solid var(--B1);
                    border-radius:15px;
                }
            
                &:checked + .tab__label::after {
                    transform: rotate(270deg);
                    margin-right: 5px;
                }
            
                &:checked + .tab__label{
                    background: var(--B1);
                    color: var(--BL3);
                }
            
            }
        }

    
    
    
    
    }
}


/* Core styles/functionality */

/* Visual styles */

.tab__label {
    border-radius: 15px;
    display: flex;
    color: var(--BL2);
    background: var(--BL3);
    cursor: pointer;
    justify-content: space-between;
    padding: 1rem;
    border: 2px solid var(--BL4);
    font-weight: 600;
    text-align: left;

    &:hover{
        background: var(--BL4);
        border: solid var(--BL3);
        border-width: 2px;
    }

    &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transform: rotate(90deg);
        transition: all 0.35s;
    }
}

.tab__content{
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
    text-align: left;
    padding: 0 1vw;

    & h2,h3,h4,h5{
        margin: 2vh 2vw;
    }

    & p {
        margin: 2vh 0vw;
        text-align: justify;
        text-indent: 2vw;
    }
    & ul{
        margin: 2vh 0;

        & li{
            margin: 1vh 1vw;
        }
    }
    & ::marker, li::marker{
        font-size: 15px;
        margin: 0 !important;
    }
}

/* Arrow animation */
@keyframes bounce {
    25% {
        transform: rotate(90deg) translate(.25rem);
    }
    75% {
        transform: rotate(90deg) translate(-.25rem);
    }
}
